.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  all: unset;
  padding: 1.5rem 4.375rem;
  border-radius: 5px;

  &.primary {
    background-color: $primary;
    color: white;
  }

  &.white {
    background-color: white;
  }
}