/* .boxes {
background-color: bisque;
height: 700px;

}

.boxes .boxes_box {
width: 100px;
height: 100px;
}

.boxes .box-1 {
background-color: gray;
}

.boxes .box-2 {
background-color: blue;
}

.boxes .box-3 {
background-color: red;
} */