@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fs-15 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  all: unset;
  padding: 1.5rem 4.375rem;
  border-radius: 5px;
}

.btn.primary {
  background-color: #02250A;
  color: white;
}

.btn.white {
  color: black;
  background-color: white;
}

.primary {
  color: #02250A;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.hero {
  height: 811px;
  position: relative;
}

.hero header {
  z-index: 1;
}

.hero header .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero header .nav .logo {
  width: 11.8125rem;
}

.hero header .nav .logo img {
  width: 100%;
}

.hero header .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero header .nav-list .nav-item {
  margin-inline: 1rem;
}

.hero header .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: inherit;
}

.hero .banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero .banner_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
}

.hero .banner_inner .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .banner_inner .left_wrapper {
  height: 70%;
  width: 100%;
}

.hero .banner_inner .left_wrapper-container {
  width: 548px;
  position: relative;
}

.hero .banner_inner .left_wrapper-container p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 58.09px;
}

.hero .banner_inner .left_wrapper-container .arrow-curve {
  position: absolute;
  right: 30%;
  bottom: 10%;
}

.hero .banner_inner .right {
  background: #02250A;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .banner_inner .right_wrapper {
  height: 70%;
  width: 100%;
  position: relative;
}

.hero .banner_inner .right_wrapper img {
  width: 100%;
}

.hero .banner_inner .right_wrapper .image-1 {
  width: 466px;
  position: absolute;
  left: -7%;
}

.hero .banner_inner .right_wrapper .image-2 {
  width: 359px;
  position: absolute;
  bottom: 0;
  right: 134px;
}

.banner_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner_two_left, .banner_two_right {
  width: 552px;
  height: 635px;
  margin-left: 120px;
  background: white;
}

.banner_two_right {
  background-color: white;
  padding: 30px;
  margin-left: 100px;
}

.banner_two_right .banner_two_heading {
  width: 641px;
  height: 116px;
  margin-bottom: 50px;
}

.banner_two_right .banner_two_heading h2 {
  font-weight: 700;
  font-size: 3em;
  line-height: 58.09px;
}

.banner_two_right .banner_two_paragraph {
  width: 572px;
  height: 199px;
  margin-bottom: 50px;
}

.banner_two_right .banner_two_paragraph p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

.recent_reports {
  background-color: #02250A;
  padding: 10px;
}

.recent_reports .report_heading {
  width: 500px;
  height: 108px;
}

.recent_reports .report_heading h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58.09px;
  color: white;
  padding: 5px;
  position: relative;
}

.recent_reports .report_heading h2::after {
  content: "";
  width: 110px;
  height: 8px;
  background-color: white;
  position: absolute;
  margin-left: 8px;
  bottom: 0;
  left: 0;
}

.recent_reports_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #02250A;
}

.recent_reports_container .recent_reports_one, .recent_reports_container .recent_reports_two, .recent_reports_container .recent_reports_three, .recent_reports_container .recent_reports_four {
  width: 300px;
  height: 500px;
  margin: 0;
  border-radius: 8px;
  background-color: white;
}

.recent_reports_container .recent_reports_one .report_image, .recent_reports_container .recent_reports_two .report_image, .recent_reports_container .recent_reports_three .report_image, .recent_reports_container .recent_reports_four .report_image {
  width: 276px;
  height: 207px;
  margin: 10px auto;
  border-radius: 8px;
  background-color: red;
}

.recent_reports_container .recent_reports_one .report_content_wrapper, .recent_reports_container .recent_reports_two .report_content_wrapper, .recent_reports_container .recent_reports_three .report_content_wrapper, .recent_reports_container .recent_reports_four .report_content_wrapper {
  padding: 0 15px;
}

.recent_reports_container .recent_reports_one .report_content_wrapper .report_content, .recent_reports_container .recent_reports_two .report_content_wrapper .report_content, .recent_reports_container .recent_reports_three .report_content_wrapper .report_content, .recent_reports_container .recent_reports_four .report_content_wrapper .report_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent_reports_container .recent_reports_one .report_content_wrapper .report_content time, .recent_reports_container .recent_reports_two .report_content_wrapper .report_content time, .recent_reports_container .recent_reports_three .report_content_wrapper .report_content time, .recent_reports_container .recent_reports_four .report_content_wrapper .report_content time {
  color: #d8c8c8;
  font-size: 14px;
}

.recent_reports .see_more {
  margin: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.incidents .incidents_heading {
  width: 705px;
  height: 116px;
  font-weight: 700;
  font-size: 32px;
  margin-left: 50px;
  line-height: 58.09px;
  padding: 70px 100px;
}

.incidents .incident_images {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-left: 150px;
}

.incidents .incident_images img {
  -o-object-fit: cover;
     object-fit: cover;
}

.incidents .incident_images .images {
  width: 317px;
  height: 257px;
  background-color: rebeccapurple;
}

footer {
  color: white;
  background-color: #02250A;
  text-align: center;
  padding: 15px;
  margin-top: 100px;
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=index.css.map */