@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  all: unset;
  padding: 1.5rem 4.375rem;
  border-radius: 5px;
}

.btn.primary {
  background-color: #02250A;
  color: white;
}

.btn.white {
  background-color: white;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.hero {
  height: 811px;
  position: relative;
}

.hero header {
  z-index: 1;
}

.hero header .items {
  display: flex;
  color: white;
  width: 50%;
  justify-content: space-between;
}

.hero header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero header .nav .logo {
  width: 11.8125rem;
}

.hero header .nav .logo img {
  width: 100%;
}

.hero header .nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  box-sizing: border-box;
}

.hero header .nav-list .nav-item {
  margin-inline: 1rem;
}

.hero header .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: inherit;
}

.hero .banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero .banner_inner {
  display: flex;
  height: 700px;
}

.hero .banner_inner .left {
  flex: 1;
  display: flex;
  align-items: center;
}

.hero .banner_inner .left_wrapper {
  height: 70%;
  width: 100%;
}

.hero .banner_inner .left_wrapper-container {
  width: 548px;
  position: relative;
}

.hero .banner_inner .left_wrapper-container p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 58.09px;
}

.hero .banner_inner .left_wrapper-container .arrow-curve {
  position: absolute;
  right: 30%;
  bottom: 10%;
}

.hero .banner_inner .right {
  background: #02250A;
  flex: 1;
  display: flex;
  align-items: center;
}

.hero .banner_inner .right_wrapper {
  height: 70%;
  width: 100%;
  position: relative;
}

.hero .banner_inner .right_wrapper img {
  width: 100%;
}

.hero .banner_inner .right_wrapper .image-1 {
  width: 466px;
  position: absolute;
  left: -7%;
}

.hero .banner_inner .right_wrapper .image-2 {
  width: 359px;
  position: absolute;
  bottom: 0;
  right: 134px;
}
